<header class="main-header">
    <div class="container main-header__container">
        <div class="main-header__wrapper">
            <div class="app-logo main-header__app-logo">
                <h1 class="app-logo__title">Cozy House</h1>
                <p class="app-logo__subtitle">Shelter for pets in Boston</p>
            </div>
            <button class="btn-burger main-header__btn-burger">
                Open Menu
                <span class="btn-burger__inner"></span>
            </button>
        </div>
        <nav class="nav main-header__nav">
            <ul class="nav-list">
                <li class="nav-list__item"><a>About the shelter</a></li>
                <li class="nav-list__item"><a href="#">Our pets</a></li>
                <li class="nav-list__item"><a href="#">Help the shelter</a></li>
                <li class="nav-list__item"><a href="#">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>